a{
    text-decoration: none;
}
ul{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
}  
li{
        font-size:40px;       
}
p{
        font-family: "red hat display";
}
#otrocolor{
        color: #4dcb5b; 
}
.nose{
        font-family: "Unna" ;
        color: black;
}
.letra{
font-family: "Unna";
color: black;
}
.lose{
        background-color: darkgray;
        border-style: solid;
}
input:default{
        background-color: rgb(146, 140, 140);
}
@media screen and (max-width:1200px){
header{
    background-color: black;
}
.letraUno{
    color: white;
}
main{
    background-color: black;
}
footer{
    background-color: black;
}

    }


    @media  screen and (max-width:480px) {
  
    }


    @media  screen and (max-width:320px) {

    }
.letraUno{
    font-family: "Unna";
    text-align: center;
    font-size: 100px;
}
footer{
    background-color: rgb(98, 7, 7);
}
h2{
    color: white;
}
footer{
    background-color: white;
}
